# Ignorar archivos generados por Bookdown
_book/
_bookdown_files/
docs/*.html
docs/*.pdf
docs/*.tex
docs/*.json
docs/*.txt
tesis.log

# Ignorar archivos de configuración y caché de R
.Rhistory
.Rproj.user/
.RData
.Ruserdata


# Ignorar archivos de log
*.log

# Ignorar archivos generados por LaTeX
tesis.aux
tesis.lof
tesis.lot
tesis.out
tesis.toc

.github/instructions/mejores-practicas.instructions.md